services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_HOST=db 
      - DB_NAME=dbpetday
      - DB_USER=root
      - DB_PASS=1234
      - JWT_SECRET=SQDSASHU
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - petday-network

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: dbpetday
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - petday-network

volumes:
  db_data:

networks:
  petday-network:
    driver: bridge